#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
